<!DOCTYPE html>
<html lang="en" style="height: 100vh;">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/style.css">
      <title>Document</title>
</head>
<body>
      <h3>Welcome to new World</h3>
      <div>
            <img src="/img/arseniy-manekin-6.jpg" alt="shexzy">
            <img src="/img/anash.jpg" alt="smooos">
      </div>
</body>
</html>